<% if post.errors.any? %>
	<%= post.errors.count %>件のerrorsが発生しました
	<% post.errors.full_messages.each do |message| %>
		<%= message %>
	<% end %>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-lg-3">
<section>

	<h2>User info</h2>
	<%= attachment_image_tag user, :profile_image, :fill,100,100, fallback:"noimage.jpg", size:"100x100" %>

	<table class="table table-striped" >
		<tr>
			<td>name</td>
			<td><%= user.name %></td>
		</tr>

		<tr>
			<td>introduction</td>
			<td><%= user.introduction %></td>
		</tr>
	</table>

	<div class="row">
		<% if user.id == current_user.id %>
		<%= link_to "", edit_user_path(user.id), class:"btn btn-default glyphicon glyphicon-wrench col-lg-12" %>
		<% else %>
		<%= link_to "", user_path(current_user.id), class:"btn btn-default glyphicon glyphicon-wrench col-lg-12" %>
		<% end %>
	</div>

	<h2>New book</h2>

	<%= form_for(post) do |f| %>

		<p>Title</p>
		<div class="row"><%= f.text_field :title, class:"col-lg-12" %></div>

		<p>Opinion</p>
		<div class="row"><%= f.text_area :body, class:"col-lg-12" %></div>

		<div class="row"><%= f.submit "Create Book", class:"btn btn-primary col-lg-12 cb" %></div>

	<% end %>
	
</section>
</div>