<%= render "home/list" %>

<%= render "users/list", user: @user, post:@post %>

<div class="col-lg-9">
<body>

	<h2>Users</h2>

	<table class="table table-striped" >

		<tr>
			<th>image</th>
			<th>name</th>
			<th></th>
		</tr>

		<% @users.each do |user| %>
		<tr>
			<td><%= attachment_image_tag user, :profile_image, :fill,40,40, fallback:"noimage.jpg", size:"40x40" %></td>
			<td><%= user.name %></td>
			<td><%= link_to "Show", user_path(user.id) %></td>
		</tr>
		<% end %>

	</table>

	<p class="copy">CopyRight Infratop.inc</p>

</body>
</div>
</div>
</div>