<%= render "home/list" %>

<%= render "users/list", user: @user, post: @post %>

<div class="col-lg-9">
<h2>Books</h2>

<table class="table table-striped" >
	<tr>
		<th></th>
		<th>Title</th>
		<th>Opinion</th>
	</tr>

	<% @book.each do |book| %>
	<tr>
		<td><%= attachment_image_tag book.user, :profile_image, :fill,40,40, fallback:"noimage.jpg", size:"40x40" %></td>
		<td><%= link_to book.title, book_path(book.id) %></td>
		<td><%= book.body %></td>
	</tr>
	<% end %>
</table>
</div>
</div>
</div>