<h1>Editing Book</h1>

<%= form_for(@post) do |f| %>

<p class="edit-p">Title</p>

<%= f.text_field :titile %>

<p class="edit-p">Body</p>

<%= f.text_area :body %>

<div class="edit-s"><%= f.submit "Update Book" %></div>

<% end %>

<%= link_to "Show", post_path(@post.id),class:"show_#{@post.id}" %>

<span>|</span>

<%= link_to "Back", posts_path,class:"back" %>