<p class="notice"><%= notice %></p>

<body>

<h1>Books</h1>

<table>
	
	<tr>

		<th>Title</th>

		<th>Body</th>

	</tr>

<% @posts.each do |post| %>

	<tr>
		
		<td>
			
			<%= post.titile %>

		</td>

		<td>
			
			<%= post.body %>

		</td>

		<td>
			
			<%= link_to "Show", post_path(post.id),class:"show_#{post.id}" %>

		</td>

		<td>
			
			<%= link_to "Edit", edit_post_path(post.id),class:"edit_#{post.id}" %>

		</td>

		<td>
			
			<%= link_to "Destroy", post_path(post.id), method: :"delete",class:"destroy_#{post.id}" %>

		</td>

	</tr>

<% end %>

</table>

<h2>New book</h2>

<%=form_for(@post) do |f| %>

	<p class="index-p">Title</p>

	<%= f.text_field :titile,class:"book_title" %>

	<p class="index-p">Body</p>

	<%= f.text_area :body,class:"book_body" %>

	<div>

	<%= f.submit 'Create Book' %>

</div>

<% end %>

</body>